<form [formGroup]="registrationForm">
  <pre>
    <div >
      <h1>REGISTRATION FORM</h1>
      First Name   : <input type="text" formControlName="fname"><br>
      Last Name    : <input type="text" formControlName="lname"><br>
      Phone Number : <input type="tel" formControlName="phone"><br>
      Address      : <input type="text" formControlName="address"><br>
      Email ID     : <input type="text" formControlName="email"><br>
      Password     : <input type="text" formControlName="pass"><br>
      <button *ngIf="!userauthservice.loggedIn()" [disabled]=registrationForm.invalid (click)="registration()">Register </button>
      <a href [routerLink]="['/login']">Already have account? Login</a><br>

    </div>
  </pre>
</form>
